/*  your css code here. If applicable */

.para-1{

	color: #00f;
	 background-color: #eee;
	font-family: Arial;
	 font-size: 20px;

}
.para-3{

	color: #00f;
	 background-color: #eee;
	font-family: Arial;
	 font-size: 20px;

}
